<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width initial-scale=1.0" name="viewport">
  <script src="https://cdn.tailwindcss.com"></script>
  <title th:text="#{i18n.storage.list.title}"> title </title>
</head>
<body class="w-screen min-h-screen py-20 ">
<h1 class="flex justify-center text-4xl" th:text="#{i18n.storage.list.title}">Storage
  List</h1>
<div class="flex justify-center py-10">
  <div class=" justify-center border-2 rounded-xl p-10">
    <button th:replace="~{fragments/buttons :: TextButton
  (#{i18n.button.create}, '/storages/new')}"></button>
    <span
        th:replace="~{fragments/fields :: searchfield (#{i18n.input.placeholder.searchfield}, #{i18n.input.label.searchfield}) }"></span>
    <ul class="divide-y divide-gray-100" role="list" th:each="storage : ${storages}">
      <li class="flex justify-between gap-x-6 py-5"
          th:id="${storage.name}">
        <div class="flex min-w-0 gap-x-4" style="justify-content: start">
          <div class="min-w-0 flex-auto" style="justify-content: start">
            <p class="text-sm font-semibold leading-6 text-gray-900"
               th:text="${storage.name}">
              ReservationID</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500"
               th:text="${storage.address.street}">
            </p>
            <span
                class="mt-1 truncate text-xs leading-5 text-gray-500"
                th:text="${storage.address.addressAddition}"></span>
            <span class="mt-1 truncate text-xs leading-5 text-gray-500"
                  th:text="${storage.address.number}"></span>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900"
             th:text="${storage.address.city}">city</p>
          <div class="py-2">
            <a
                th:replace="~{fragments/buttons.html :: EditButton (@{/storages/edit/{storageId}(storageId=${storage.id})})}"></a>

            <a
                th:replace="~{fragments/buttons.html :: RemoveButton (@{/storages/delete/{storageId}(storageId=${storage.id})})}"></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</body>
</html>
