<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width initial-scale=1.0" name="viewport">
    <script src="https://cdn.tailwindcss.com"></script>
    <title th:text="#{i18n.reservation.list.title}"> title </title>
</head>
<body class="w-screen min-h-screen py-20 ">
<h1 class="flex justify-center text-4xl" th:text="#{i18n.reservation.list.title}">Storage
    List</h1>
<div class="flex justify-center py-10"
     th:insert="~{fragments/grids.html :: reservationGrid (${reservations})}">
</div>
</body>
</html>
