<div class=" justify-center border-2 rounded-xl p-10"
     th:fragment="reservationGrid (reservations)">
  <button th:replace="~{fragments/buttons :: TextButton
  (#{i18n.button.create}, '/reservations/new')}"></button>
  <span
      th:replace="~{fragments/fields :: searchfield (#{i18n.input.placeholder.searchfield}, #{i18n.input.label.searchfield}) }"></span>
  <ul class="divide-y divide-gray-100" role="list" th:each="reservation : ${reservations}">
    <li class="flex justify-between gap-x-6 py-5"
        th:id="${reservation.reservationId}">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900"
             th:text="${reservation.reservationId}">
            ReservationID</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500"
             th:text="${reservation.reservationDescription}">Description</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end"
           th:switch="${reservation.completed}">
        <p class="text-sm leading-6 text-gray-900" th:case="${true}"
           th:text="#{i18n.reservation.status.closed}">closed</p>
        <p class="text-sm leading-6 text-gray-900" th:case="${false}"
           th:text="#{i18n.reservation.status.open}">Open</p>
        <p class="mt-1 text-xs leading-5 text-gray-500">
          <span th:text="#{i18n.reservation.date}">Reserved at</span>
          <time th:text="${#temporals.format(reservation.reservedAt, 'dd.MM.yyyy HH:mm')}">3h
            ago
          </time>
        </p>
        <div class="py-2">
          <a
              th:replace="~{fragments/buttons.html :: EditButton (@{/reservations/edit/{reservationId}(reservationId=${reservation.reservationId})})}"></a>

          <a
              th:replace="~{fragments/buttons.html :: RemoveButton (@{/reservations/delete/{reservationId}(reservationId=${reservation.reservationId})})}"></a>
        </div>
      </div>
    </li>
  </ul>
</div>